
<div *ngIf="relationship">
    <h2><span>Relationship</span> {{relationship.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Create User Id</span></dt>
        <dd>
            <span>{{relationship.createUserId}}</span>
        </dd>
        <dt><span>Create Date Time</span></dt>
        <dd>
            <span>{{relationship.createDateTime | date:'medium'}}</span>
        </dd>
        <dt><span>Update User Id</span></dt>
        <dd>
            <span>{{relationship.updateUserId}}</span>
        </dd>
        <dt><span>Update Date Time</span></dt>
        <dd>
            <span>{{relationship.updateDateTime | date:'medium'}}</span>
        </dd>
        <dt><span>From</span></dt>
        <dd>
            <div *ngIf="relationship.from">
                <a [routerLink]="['/person', relationship.from?.id]">{{relationship.from?.id}}</a>
            </div>
        </dd>
        <dt><span>To</span></dt>
        <dd>
            <div *ngIf="relationship.to">
                <a [routerLink]="['/person', relationship.to?.id]">{{relationship.to?.id}}</a>
            </div>
        </dd>
        <dt><span>Relationship Type</span></dt>
        <dd>
            <div *ngIf="relationship.relationshipType">
                <a [routerLink]="['/relationship-type', relationship.relationshipType?.id]">{{relationship.relationshipType?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'relationship/'+ relationship.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
