
<div *ngIf="personAddress">
    <h2><span>Person Address</span> {{personAddress.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Create User Id</span></dt>
        <dd>
            <span>{{personAddress.createUserId}}</span>
        </dd>
        <dt><span>Create Date Time</span></dt>
        <dd>
            <span>{{personAddress.createDateTime | date:'medium'}}</span>
        </dd>
        <dt><span>Update User Id</span></dt>
        <dd>
            <span>{{personAddress.updateUserId}}</span>
        </dd>
        <dt><span>Update Date Time</span></dt>
        <dd>
            <span>{{personAddress.updateDateTime | date:'medium'}}</span>
        </dd>
        <dt><span>Person</span></dt>
        <dd>
            <div *ngIf="personAddress.person">
                <a [routerLink]="['/person', personAddress.person?.id]">{{personAddress.person?.id}}</a>
            </div>
        </dd>
        <dt><span>Address Type</span></dt>
        <dd>
            <div *ngIf="personAddress.addressType">
                <a [routerLink]="['/address-type', personAddress.addressType?.id]">{{personAddress.addressType?.id}}</a>
            </div>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
            <div *ngIf="personAddress.address">
                <a [routerLink]="['/address', personAddress.address?.id]">{{personAddress.address?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'person-address/'+ personAddress.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
