
<div *ngIf="personAddress">
    <h2><span>Person Address</span> {{personAddress.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Person</span></dt>
        <dd>
            <div *ngIf="personAddress.personId">
                <a [routerLink]="['/person', personAddress.personId]">{{personAddress.personId}}</a>
            </div>
        </dd>
        <dt><span>Race</span></dt>
        <dd>
            <div *ngIf="personAddress.raceId">
                <a [routerLink]="['/address', personAddress.raceId]">{{personAddress.raceId}}</a>
            </div>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <div *ngIf="personAddress.typeId">
                <a [routerLink]="['/address-type', personAddress.typeId]">{{personAddress.typeId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'person-address/'+ personAddress.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
