
<div *ngIf="emailAddress">
    <h2><span>Email Address</span> {{emailAddress.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Email</span></dt>
        <dd>
            <span>{{emailAddress.email}}</span>
        </dd>
        <dt><span>Create User Id</span></dt>
        <dd>
            <span>{{emailAddress.createUserId}}</span>
        </dd>
        <dt><span>Create Date Time</span></dt>
        <dd>
            <span>{{emailAddress.createDateTime | date:'medium'}}</span>
        </dd>
        <dt><span>Update User Id</span></dt>
        <dd>
            <span>{{emailAddress.updateUserId}}</span>
        </dd>
        <dt><span>Update Date Time</span></dt>
        <dd>
            <span>{{emailAddress.updateDateTime | date:'medium'}}</span>
        </dd>
        <dt><span>Person</span></dt>
        <dd>
            <div *ngIf="emailAddress.person">
                <a [routerLink]="['/person', emailAddress.person?.id]">{{emailAddress.person?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'email-address/'+ emailAddress.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
