
<div *ngIf="person">
    <h2><span>Person</span> {{person.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>First Name</span></dt>
        <dd>
            <span>{{person.firstName}}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
            <span>{{person.lastName}}</span>
        </dd>
        <dt><span>Middle Name</span></dt>
        <dd>
            <span>{{person.middleName}}</span>
        </dd>
        <dt><span>Ssn</span></dt>
        <dd>
            <span>{{person.ssn}}</span>
        </dd>
        <dt><span>Date Of Birth</span></dt>
        <dd>
            <span>{{person.dateOfBirth | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Drivers License Number</span></dt>
        <dd>
            <span>{{person.driversLicenseNumber}}</span>
        </dd>
        <dt><span>Create User Id</span></dt>
        <dd>
            <span>{{person.createUserId}}</span>
        </dd>
        <dt><span>Create Date Time</span></dt>
        <dd>
            <span>{{person.createDateTime | date:'medium'}}</span>
        </dd>
        <dt><span>Update User Id</span></dt>
        <dd>
            <span>{{person.updateUserId}}</span>
        </dd>
        <dt><span>Update Date Time</span></dt>
        <dd>
            <span>{{person.updateDateTime | date:'medium'}}</span>
        </dd>
        <dt><span>Application</span></dt>
        <dd>
            <div *ngIf="person.application">
                <a [routerLink]="['/application', person.application?.id]">{{person.application?.id}}</a>
            </div>
        </dd>
        <dt><span>Household</span></dt>
        <dd>
            <div *ngIf="person.household">
                <a [routerLink]="['/household', person.household?.id]">{{person.household?.id}}</a>
            </div>
        </dd>
        <dt><span>Education Highest Level</span></dt>
        <dd>
            <div *ngIf="person.educationHighestLevel">
                <a [routerLink]="['/education-level-type', person.educationHighestLevel?.id]">{{person.educationHighestLevel?.id}}</a>
            </div>
        </dd>
        <dt><span>Gender</span></dt>
        <dd>
            <div *ngIf="person.gender">
                <a [routerLink]="['/gender-type', person.gender?.id]">{{person.gender?.id}}</a>
            </div>
        </dd>
        <dt><span>Race</span></dt>
        <dd>
            <div *ngIf="person.race">
                <a [routerLink]="['/race-type', person.race?.id]">{{person.race?.id}}</a>
            </div>
        </dd>
        <dt><span>Ethnicities</span></dt>
        <dd>
            <span *ngFor="let ethnicities of person.ethnicities; let last = last">
                <a [routerLink]="['/ethnicity-type', ethnicities?.id ]">{{ethnicities.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'person/'+ person.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
