
<div *ngIf="districtOffice">
    <h2><span>District Office</span> {{districtOffice.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Facility Number</span></dt>
        <dd>
            <span>{{districtOffice.facilityNumber}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{districtOffice.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'district-office/'+ districtOffice.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
