

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myALabel">Create or edit a A</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!a.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="a.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="a.name"
            minlength="1" maxlength="42" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.minlength">
                   This field is required to be at least 1 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength">
                   This field cannot be longer than 42 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_content">Content</label>
            <textarea class="form-control" name="content" id="field_content"
                [(ngModel)]="a.content" minbytes="20" maxbytes="40" ></textarea>
            <div [hidden]="!(editForm.controls.content?.dirty && editForm.controls.content?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.content?.errors?.minbytes">
                    This field should be at least 20.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.content?.errors?.maxbytes">
                    This field cannot be more than 40.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_count">Count</label>
            <input type="number" class="form-control" name="count" id="field_count"
                [(ngModel)]="a.count"
            min="0" max="41" />
            <div [hidden]="!(editForm.controls.count?.dirty && editForm.controls.count?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.count?.errors?.min">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.count?.errors?.max">
                    This field cannot be more than 41.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.count?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
