
<div *ngIf="phoneNumber">
    <h2><span>Phone Number</span> {{phoneNumber.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Phone Number</span></dt>
        <dd>
            <span>{{phoneNumber.phoneNumber}}</span>
        </dd>
        <dt><span>Create User Id</span></dt>
        <dd>
            <span>{{phoneNumber.createUserId}}</span>
        </dd>
        <dt><span>Create Date Time</span></dt>
        <dd>
            <span>{{phoneNumber.createDateTime | date:'medium'}}</span>
        </dd>
        <dt><span>Update User Id</span></dt>
        <dd>
            <span>{{phoneNumber.updateUserId}}</span>
        </dd>
        <dt><span>Update Date Time</span></dt>
        <dd>
            <span>{{phoneNumber.updateDateTime | date:'medium'}}</span>
        </dd>
        <dt><span>Employer</span></dt>
        <dd>
            <div *ngIf="phoneNumber.employer">
                <a [routerLink]="['/employer', phoneNumber.employer?.id]">{{phoneNumber.employer?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'phone-number/'+ phoneNumber.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
