
<div *ngIf="educationPoint">
    <h2><span>Education Point</span> {{educationPoint.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Degree</span></dt>
        <dd>
            <span>{{educationPoint.degree}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{educationPoint.name}}</span>
        </dd>
        <dt><span>Create User Id</span></dt>
        <dd>
            <span>{{educationPoint.createUserId}}</span>
        </dd>
        <dt><span>Create Date Time</span></dt>
        <dd>
            <span>{{educationPoint.createDateTime | date:'medium'}}</span>
        </dd>
        <dt><span>Update User Id</span></dt>
        <dd>
            <span>{{educationPoint.updateUserId}}</span>
        </dd>
        <dt><span>Update Date Time</span></dt>
        <dd>
            <span>{{educationPoint.updateDateTime | date:'medium'}}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <div *ngIf="educationPoint.type">
                <a [routerLink]="['/education-level-type', educationPoint.type?.id]">{{educationPoint.type?.id}}</a>
            </div>
        </dd>
        <dt><span>Educational Institution Address</span></dt>
        <dd>
            <div *ngIf="educationPoint.educationalInstitutionAddress">
                <a [routerLink]="['/address', educationPoint.educationalInstitutionAddress?.id]">{{educationPoint.educationalInstitutionAddress?.id}}</a>
            </div>
        </dd>
        <dt><span>Person</span></dt>
        <dd>
            <div *ngIf="educationPoint.person">
                <a [routerLink]="['/person', educationPoint.person?.id]">{{educationPoint.person?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'education-point/'+ educationPoint.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
