
<div *ngIf="countyType">
    <h2><span>County Type</span> {{countyType.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Fips Code</span></dt>
        <dd>
            <span>{{countyType.fipsCode}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{countyType.description}}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
            <div *ngIf="countyType.state">
                <a [routerLink]="['/state-type', countyType.state?.id]">{{countyType.state?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'county-type/'+ countyType.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
